$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);
$green-op: rgba(56, 204, 140, 0.9);
$accent-blue: hsl(248, 32%, 49%);
$neutral-dblue: hsl(249, 10%, 26%);
$neutral-gblue: hsl(246, 25%, 77%);
$white: white;
$gray: #cccc;
$gray-letter: #a5a5a5;
$shadow: 1px 7px 0px 0px rgba(0,0,0,0.12);

@mixin border-radius{
    border-radius: 8px;
}

@mixin font{
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: $primary-red;
    background-image: url(images/desktop.png);
    background-repeat: repeat;
    @include font();
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    padding: 50px;
}
.description{
    padding: 20px;
    width: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 2.8em;
    margin-bottom: 10px;
}
p{
    font-size: 1em;
}
.action{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    background-color: $accent-blue;
    box-shadow: $shadow;
    color: $white;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-width: 0;
    @include border-radius();
    @include font();
    font-size: 0.8em;
    cursor: pointer;
}
button:hover{
    background-color: $neutral-dblue;
    box-shadow: none;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    box-shadow: $shadow;
    padding-top: 35px;
    @include border-radius();
}
.form input{
    border-style: solid;
    border-width: 1px;
    border-color: $gray;
    margin-bottom: 25px;
    width: 85%;
    height: 50px;
    @include border-radius();
}
.form input:hover{
    border-color: $primary-red;
}
#first-name, #last-name, #email, #password{
    padding-left: 20px;
    @include font();
    font-weight: 700;
}
.sunmit{
    color: $white;
    background-color: $primary-green;
    box-shadow: -1px -19px 0px -15px rgba(24,133,43,0.47) inset;
    @include font();
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}
.sunmit:hover{
    background-color: $green-op
}
label{
    width: 80%;
    text-align: center;
    font-size: 0.7em;
    color: $gray-letter;
    margin-bottom: 20px;
}
label a{
    color: $primary-red;
    text-decoration: none;
}
/*Media queries*/
@media (max-width: 768px) {
    .description{
        padding: 0;
    }
    h1{
        font-size: 1.8em;
    }
    p{
        font-size: 0.9em;
    }
    label{
        font-size: 0.6em; 
    }
    .sunmit{
        font-size: 0.8em;
    }
}

@media (max-width: 540px) {
    .container{
        flex-direction: column;
        padding: 20px;
    }
    .description{
        text-align: center;
        padding: 0;
    }
    .action{
        margin-top: 40px;
        padding: 0;
    }
    button{
        height: 70px;
    }
}